on:
  push:
    branches:
      - main
    tags:
      - "v*"
  release:
    types:
      - created

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm i

      - name: Build extension
        run: pnpm package

      - name: Publish
        if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'release'
        run: pnpm deploy
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
